<div data-role="view" data-title="Details" data-model="app.dataListViewCust.dataListViewCustModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.Name" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_dataListViewCustModel -->
    <form id="Sportsform">
        <div style="display:block; width:90%; margin-left:auto; margin-right:auto;">
            <div>
                <div style="text-align:left; width:100px; float:left;">Name</div>
                <div>
                    <input type="text" data-bind="value: currentItem.Name"></input>
                </div>
            </div>
            <div>
                <div style="text-align:left; width:100px; float:left;">Contact</div>
                <div>
                    <input type="text" data-bind="value: currentItem.Contact"></input>
                </div>
            </div>
            <div>
                <div style="text-align:left; width:100px; float:left;">EmailAddress</div>
                <div>
                    <input type="email" data-bind="value: currentItem.EmailAddress"></input>
                </div>
            </div>
            <div>
                <div style="text-align:left; width:100px; float:left;">City</div>
                <div>
                    <input type="text" data-bind="value: currentItem.City"></input>
                </div>
            </div>
            <div>
                <div style="text-align:left; width:100px; float:left;">CreditLimit</div>
                <div>
                    <input type="number" data-bind="value: currentItem.CreditLimit"></input>
                </div>
            </div>
            <div>
                <div style="text-align:left; width:100px; float:left;">Comments</div>
                <div>
                    <textarea name="Comments" form="Sportsform" data-bind="value: currentItem.Comments"></textarea>
                </div>
            </div>

            <div class="button-group">
                <a data-role="backbutton">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: submit }">Confirm</a>
            </div>
    </form>
    <!-- END_CUSTOM_CODE_dataListViewCustModel -->
    </div>